<!-- password_reset.html -->

{% extends 'base.html' %}

{% block head %}
<title>Reset Password</title>
{% endblock %}
{% block body %}

{% for error in form.non_field_errors %}
<div class="container col-lg-5 bg-danger text-light font-weight-bolder text-center p-3 mt-3 rounded shadow-lg  ">
    <li> {{error}}</li>
</div>
{% endfor %}
<div class="container">
    <form method="post" action="{% url 'password_reset' %}"
        class="form-group mt-2 col-lg-7 rounded shadow-lg text-light mx-auto bg-primary p-3">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_mail">Email</label>
            <input type="email" name="email" id="id_email" class="form-control" placeholder="Enter email address">
            {% for error in email.errors %}
            <li class="text-danger">{{error}}</li>
            {% endfor %}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success form-control mt-3">Submit</button>
        </div>
    </form>
</div>

{% endblock %}