{% extends 'base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock %}
{% block body %}
{% for error in form.non_field_errors %}
<div class="container col-lg-5 bg-danger text-light font-weight-bolder text-center p-3 mt-3 rounded shadow-lg  ">
    <li> {{error}}</li>
</div>
{% endfor %}
<div class="container">
    <form method="post" class="form-group mt-2 col-lg-7 rounded shadow-lg text-light mx-auto bg-primary p-3">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Current Password</label>
            <input type="password" name="old_password" id="old_password" class="form-control"
                placeholder="Enter current password">
            {% for error in old_password.errors %}
            <li class="text-danger">{{error}}</li>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="id_new_password1">New Password</label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control"
                placeholder="Enter new password">
            {% for error in new_password1.errors %}
            <li class="text-danger">{{error}}</li>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="id_new_password2">Confirm password</label>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control"
                placeholder="Retype your password">
            {% for error in new_password2.errors %}
            <li class="text-danger">{{error}}</li>
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success form-control mt-3">Change</button>
        </div>
    </form>
</div>

{% endblock %}