{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}
{% block body %}

<div class="container bg-primary mt-3 p-3 rounded shadow-lg">
    <h2 class="text-center text-light">Change password</h2>
    <h2 class="text-center"><a class="text-light badge badge-dark p-2" href="{% url 'password_change' %}">Change
            Password</a></h2>
    <h2 class="text-center"><a class="text-light badge badge-dark p-2" href="{% url 'logout' %}">Logout</a></h2>
</div>
{% endblock %}